body {
  background-image: url("https://twinegamesetup.yolasite.com/resources/Colour%20Background(1).png");
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}

h1 {
  margin-top: 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #ffba00;
}

h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  background-color: #87ceeb;
}

p {  
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Calisto MT", "Times New Roman", serif;
  font-size: 1.25em;
  margin-left: 75px;
  margin-right: 75px;
  padding: 15px 25px;
  background-color: #f1f1f1;
}

ul {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Calisto MT", "Times New Roman", serif;
  font-size: 1.25em;
  margin-left: 75px;
  margin-right: 75px;
  padding: 15px 25px;
  background-color: #f1f1f1;
}
